@import url('https://fonts.cdnfonts.com/css/planet-n');

html, body 
{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 195, 255);
    color: black;
    font-family: 'Planet N', sans-serif;
}

#home-btn 
{
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    background-color: white;
    border-bottom-right-radius: 10px;
    background-image: url(https://cdn-icons-png.flaticon.com/512/25/25694.png);
    background-size: 100% 100%;
    transition: 1s ease;
    z-index: 1;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

#home-btn:hover 
{
    cursor: pointer;
    height: 70px;
    width: 70px;
}

header 
{
    position: absolute;
    top: 0;
    left: 0;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 
{
    font-size: 45px;
}

main 
{
    position: relative;
    top: 175px;
    left: 0;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-item 
{
    height: 400px;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid rgb(0, 0, 0);
}

.top 
{
    position: relative;
    height: 30%;
    width: 100%;
    background-color: red;
    border-bottom: 3px solid black;
    text-align: center;
}

.bottom 
{
    padding: 15px;
    height: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}

.link 
{
    border: 3px solid black;
    color: black;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    margin: auto;
    padding: 6px;
}

.link:hover 
{
    background-color: rgb(26, 26, 26);
    border-color: rgb(26, 26, 26);
    color: white;
}

a 
{
    text-decoration: none;
}



@media screen and (max-width: 600px) 
{
    main {
        grid-template-columns: 100%;
    }

    .grid-item
    {
        width: 80%;
        height: 350px;
        margin-bottom: 30px;
    }
}



/* Background Images */
/* Coming Soon */
/* #coming-soon{
    background-image: url(../site_images/);
    background-size: cover;
} */
#coming-soon
{
    background-image: url(../site_images/coming_soon.jpg);
    background-size: 100% 100%;
}



/* CSS */
/* #preview-css-# {
    background-image: url(../site_images/);
    background-size: cover;
} */
#preview-css-1 
{
    background-image: url(../site_images/css-preview-1.png);
    background-size: cover;
}

#preview-css-2 
{
    background-image: url(../site_images/css-preview-2.png);
    background-size: cover;
}



/* THREE */
/* #preview-three-# {
    background-image: url(../site_images/);
    background-size: cover;
} */
#preview-three-1 
{
    background-image: url(../site_images/three-preview-1.png);
    background-size: cover;
}