/* BRYCE CALLAHAN */
/* 12-13-2023 */

@import url('https://fonts.cdnfonts.com/css/nikela-famous');

/* html body config */
html, body 
{
  margin: 0;
  padding: 0;
  height: auto;
  font-family: 'Nikela Famous', sans-serif;
  color: white;
}


/* grid */
.grid 
{
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 3px solid rgb(0, 115, 255);
}

.grid div 
{
  height: 50vh;
  width: 100%;
  margin: auto;
  background-color: rgb(208, 226, 231);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid div:nth-child(odd)
{
  background-color: rgb(44, 48, 49);
}

.grid div:nth-child(even)
{
  background-color: rgb(60, 61, 61);
}

.coming-soon {
  position: relative;
  text-align: center;
  color: rgb(0, 115, 255);
}

/* single row grid @ devices <= 600px wide */
@media screen and (max-width: 600px) {
  .grid 
  {
    grid-template-columns: 100%;
  }
}

/* Loaders & Animations*/
/* Loader 1 */
.loader-1
{
  width: 48px;
  height: 48px;
  border: 5px solid rgb(0, 115, 255);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation-1 2s linear infinite;
}

@keyframes rotation-1
{
  0% 
  {
    transform: rotate(0deg);
  }
  100% 
  {
    transform: rotate(-360deg);
  }
}

/* Loader 2 */
.loader-2
{
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: rgb(0, 115, 255);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation-2 2s linear infinite;
  background-color: rgb(0, 115, 255);
  box-shadow: rgb(0, 115, 255) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@keyframes rotation-2 
{
  0% 
  {
    transform: rotate(0deg);
  }
  100% 
  {
    transform: rotate(360deg);
  }
} 

/* Loader 3 */
.loader-3 
{
  width: 48px;
  height: 48px;
  border: 6px solid #FFF;
  border-top-color: rgb(0, 115, 255);
  border-bottom-color: rgb(0, 115, 255);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation-3 3s linear infinite;
  background-color: rgb(0, 115, 255);
}
    
@keyframes rotation-3 
{
  0% 
  {
    transform: rotate(0deg);
  }
  100% 
  {
    transform: rotate(360deg);
  }
} 

/* Loader 4 */
.loader-4 {
  width: 48px;
  height: 48px;
  border: 5px solid rgb(0, 115, 255);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  animation: pulse-1 2s linear infinite;
}

.loader-4:after {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid rgb(0, 115, 255);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: zoom-1 2s linear infinite;
}
  
@keyframes zoom-1 
{
  0% 
  { 
    transform: translate(-50%, -50%) scale(0) 
  }
  60% 
  { 
    transform: translate(-50%, -50%)  scale(1)
  }
  100% 
  {
    transform: translate(-50%, -50%) scale(0) 
  }
}

@keyframes pulse-1
{
  0% , 60% , 100%
  {  
    transform:  scale(1) 
  }
  80% 
  { 
    transform:  scale(1.2)
  }
}

/* Loader 5 */
.loader-5
{
  position: relative;
  width: 64px;
  height: 64px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.loader-5:after
{
  content: '';
  position: absolute;
  inset: 8px;
  margin: auto;
  background: transparent;
  border-radius: 50%;
}

.loader-5:before
{
  content: '';
  position: absolute;
  inset: 0px;
  margin: auto;
  background: rgb(0, 115, 255);
  animation: crlMugLoader 2s linear infinite alternate;
}

@keyframes crlMugLoader {
  0%  ,10% 
  { 
    transform: translateY(64px) 
  }
  90% , 100% 
  { 
    transform: translateY(0px) 
  }
}
    
/* Loader 6 */
.loader-6 
{
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  transform: rotate(45deg);
}

.loader-6::before 
{
  content: '';  
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: -24px;
  animation: flip-1 4s ease infinite;
}

.loader-6::after 
{
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background: rgb(0, 115, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  animation: flip-2 2s ease infinite;
}
  
@keyframes flip-1 
{
  0% 
  {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
  }
  12% 
  {
    box-shadow: 0 24px rgb(0, 115, 255), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
  }
  25% 
  {
    box-shadow: 0 24px rgb(0, 115, 255), 24px 24px rgb(0, 115, 255), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
  }
  37%
  {
    box-shadow: 0 24px rgb(0, 115, 255), 24px 24px rgb(0, 115, 255), 24px 48px rgb(0, 115, 255), 0px 48px rgba(255, 255, 255, 0);
  }
  50% 
  {
    box-shadow: 0 24px rgb(0, 115, 255), 24px 24px rgb(0, 115, 255), 24px 48px rgb(0, 115, 255), 0px 48px rgb(0, 115, 255);
  }
  62% 
  {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgb(0, 115, 255), 24px 48px rgb(0, 115, 255), 0px 48px rgb(0, 115, 255);
  }
  75% 
  {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgb(0, 115, 255), 0px 48px rgb(0, 115, 255);
  }
  87% 
  {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgb(0, 115, 255);
  }
  100% 
  {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
  }
}
  
@keyframes flip-2
{
  0% 
  {
    transform: translate(0, 0) rotateX(0) rotateY(0);
  }
  25% 
  {
    transform: translate(100%, 0) rotateX(0) rotateY(180deg);
  }
  50% 
  {
    transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
  }
  75% 
  {
    transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
  }
  100% 
  {
    transform: translate(0, 0) rotateX(0) rotateY(360deg);
  }
}


/* Loader 7 */
.loader-7 {
  width: 50px;
  height: 165px;
  position: relative;
}
.loader-7::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translate(-50% , 0);
  width: 16px;
  height: 16px;
  background: rgb(0, 115, 255);
  border-radius: 50%;
  animation: boing 2s linear infinite;
}

.loader-7::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  margin: auto;
  height: 10px;
  width: 50px;
  background: rgb(0, 115, 255);
  border-radius: 4px;
  animation: rotate 2s linear infinite;
}
  
@keyframes boing {
  0% , 50% , 100%{
    transform: translate(-50%, 0px);
    height: 20px;
  }
  20% {
    transform: translate(-25%, 45px);
    height: 28px;
  }
  25% {
    transform: translate(-25%, 70px);
    height: 5px;
  }
  70% {
    transform: translate(-75%, 45px);
    height: 28px;
  }
  75% {
    transform: translate(-75%, 70px);
    height: 5px;
  }
}
  
/* Loader 8 */
.loader-8 
{
  position: relative;
  height: 40px;
  width: 6px;
  color: rgb(0, 115, 255);
  animation: walls 0.75s ease-out infinite;
}

.loader-8:before 
{
  content: "";
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 15px;
  width: 12px;
  height: 12px;
  background-color: rgb(0, 115, 255);
  border-radius: 50%;
  animation: ball 0.6s ease-out infinite;
}

@keyframes walls 
{
  0% 
  { 
    box-shadow: -25px -10px, 25px 10px
  }
  50% 
  { 
    box-shadow: -25px 8px, 25px -10px 
  }
  100% 
  { 
    box-shadow: -25px -10px, 25px 10px
  }
}

@keyframes ball 
{
  0% 
  { 
    transform: translateX(-20px) scale(1, 1.2) 
  }
  25% 
  { 
    transform: scale(1.2, 1) 
  }
  50% 
  { 
    transform: translateX(15px) scale(1, 1.2) 
  }
  75% 
  { 
    transform: scale(1.2, 1) 
  }
  100% 
  { 
    transform: translateX(-20px) 
  }
}
      
/* Loader 9 */
.loader-9
{
  display: block;
  position: relative;
  height: 32px;
  width: 100px;
  background: linear-gradient(#FFF 4px, transparent 0) no-repeat;
  background-position: 0 14px;
  box-sizing: border-box;
}

.loader-9:before
{
  content: '';
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: rgb(0, 115, 255);
  animation: back-n-forth 1s linear infinite alternate;
}

@keyframes back-n-forth 
{
  0% 
  {  
    left: 0; transform: translateX(0%) rotate(45deg); 
  }
  100% 
  {  
    left: 100%; transform: translateX(-100%) rotate(45deg); 
  }
}

/* More to come! */
